
.hh1{color: white;
font-family: 'Abril Fatface', cursive;
font-size: 17px;
position: relative;
bottom: 28px;
right: 9px;}


.logo22{position: relative;
right: 20px;
bottom:85px;
background-color: white;
border-radius: 100%;
}

* { 
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; 
  /* outline: 1px dotted salmon; */
  }
body {
  background-color: #EFEFEF;
  font: 100%/1.375 "helvetica neue", helvetica, tahoma, sans-serif;
}
.nav-wrap {
  overflow: hidden;
  margin: 0 auto;
  padding-top: 2em;
  height: 70px;
  background-color: #252625;
  border-bottom: 0.25em solid #205786;
	}
				
#fancy-nav { 
	float: right;
	position: relative; 
  width: 50%;
}

#fancy-nav li { 
  list-style: none;
  float: left;
}

#fancy-nav li a { 
	position: relative; 
	z-index: 200; 
	color: #bbb; 
	font-size: 0.9em; 
	display: block; 
	float: left;
  bottom: 10px;
  right: 30px;
  font-family: 'Fredoka One', cursive;
  font-weight: 700;
	text-decoration: none;
	text-transform: uppercase; 
	padding: 0.6em 1em 0.3em;
}

#fancy-nav li a:hover { 
	color: white; 
}

#fancy-nav #magic-line-two { 
	    position: relative;
    bottom: 37px;
	left: 0; 
	width: 100px; 
	/* background: #900;  */
   background-color:#205786;
	z-index: 100; 
	-moz-border-radius-topleft: : 5px;
	-moz-border-radius-topright: : 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-radius: 5px 5px 0 0;
}

.current_page_item_two a { 
	color: white !important; 
}

.ie6 #fancy-nav li, .ie7 #fancy-nav li {
	display: inline;
}

@media only screen and (max-width: 800px) {
  #fancy-nav { 
  width: 98%;
  }
}



/* ------------- */
.sub-menu {
  position: absolute;
  top: 20px;
  right:35px;
  height: 46px;
  width: 46px;
  
}

.sub-menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002;
  bottom: 3px;
 
  
}

.sub-menu-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

/* ------------- */
.menu-bar {
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  right: 0;
  transition: all 0.25s ease-in-out;
}
.menu-bar-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu-bar-3 {
  bottom: 0;
}
.menu-bar-4 {
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(90deg)
}
.sub-menu.open .menu-bar-1 {
  transform: translateY(10px) translateY(-50%) rotate(-45deg);
}
.sub-menu.open .menu-bar-2 {
  opacity: 0;
}
.sub-menu.open .menu-bar-3 {
  transform: translateY(-10px) translateY(50%) rotate(45deg);
}
.sub-menu.open .menu-bar-4 {
  opacity: 0;
}

.icon22{position: relative;
right: 7px;
bottom: 15px;}

/* ------------- */
.sub-menu-circle {
  background-color: #205786;
  width: 115%;
  height: 115%;
  position: absolute;
  border-radius: 50%;
  transform: scale(1);
  z-index: 1000;
  bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
.sub-menu:hover .sub-menu-circle {
  transform: scale(1.5);
}
.sub-menu.open .sub-menu-circle {
  transform: scale(16);
}

/* ------------- */
.sub-menu-overlay {
  color: #333;
  height: 30%;
  width: 30%;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-menu-overlay.open {
  opacity: 1;
  visibility: visible;
}
.sub-menu-list {
  margin-top: 7em;
  margin-left: 7em;
  list-style: none;
  font-family: New Century Schoolbook, serif;
  left: 970px;
  position: relative;
}
.sub-menu-list li {
  margin: 1.5em;
}
.sub-menu-list li a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-align: left;
  transition: all 0.1s ease;
  text-decoration: none;
}
.sub-menu-list li a:hover {
  border-bottom: 3px solid #fff;
}




.fond{position:absolute;padding-top:100px;top:0;left:0; right:0;bottom:0;
 }

.carre_couleur
{
  width:250px;
  height: 230px;
  display: inline-block;
  position: relative;
  margin-top: 0px;
}
.base_hov .retract
{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform-origin: 50% 20%; 
  -webkit-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform-origin: 50% 20%;
  -moz-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform-origin: 50% 20%;
  -ms-transform: scale(1);
  transition: all 200ms ease-in;
  transform-origin: 50% 20%;
  transform: scale(1);
  width:200px;
  height: 200px;
  position: absolute;
  z-index: 2;
  left:30px;
  top: 30px;
  color: white;
 
}


.q{ font-weight: 600;
  font-size: 95px;
font-family: 'Fredericka the Great', cursive;
  }
.base_hov:hover .retract
{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(0.6);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(0.6);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(0.6);
  transition: all 200ms ease-in;
  transform: scale(0.6);
}
.acced
{
  width: 180px;
  padding:10px;
  bottom:0; 
  position:absolute;
  z-index: 1; 
  text-align: left;
}
.big_acced
{
  
  font-size:35px;
  font-weight: 400;
 font-family: 'Berkshire Swash', cursive;
  position: relative;
left:50px;
}




main {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 350px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.live-search-box {
  width: 100%;
  display: block;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #3498db;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Francois One', sans-serif;
}

.ht1 {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 40px;
color: #042779;
  font-family: 'Ultra', serif;
}

.topic {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: solid 1px #ebebeb;
}

.open {
  cursor: pointer;
  display: block;
  padding: 0px;
}

.open:hover {
  opacity: 0.7;
}

.expanded {
  background-color: #f5f5f5;
  transition: all .3s ease-in-out;
}

.ptag {
  display: none;
}

.question {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #526ee4;
}

.answer {
  font-size: 16px;
  line-height: 26px;
  display: none;
  margin-bottom: 30px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.faq-t {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  float: right;
  position: relative;
  top: -55px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transition: all .3s ease-in-out;
}

.faq-o {
  top: -50px;
  -moz-transform: rotate(-224deg);
  -ms-transform: rotate(-224deg);
  -webkit-transform: rotate(-224deg);
  transform: rotate(-224deg);
}

@media only screen and (max-width: 480px) {
  .faq-t {
    display: none;
  }
  .question {
    padding-right: 0px;
  }
  main {
    padding: 10px;
  }
  .answer {
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
