.hh1 {
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 17px;
    position: relative;
    bottom: 28px;
    right: 9px;
}

.logo22 {
    position: relative;
    right: 20px;
    bottom: 85px;
    border-radius: 100%;
}


/* start of the beg video*/

video {
    width: 100%;
    box-shadow: 10px 10px 5px #888;
    position: relative;
    bottom: 100px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    /* outline: 1px dotted salmon; */
}

body {
    background-color: #EFEFEF;
    font: 100%/1.375 "helvetica neue", helvetica, tahoma, sans-serif;
    overflow-x: hidden;
}

.nav-wrap {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 2em;
    height: 70px;
    background-color: #252625;
    border-bottom: 0.25em solid #205786;
}

#fancy-nav {
    float: right;
    position: relative;
    width: 50%;
}

#fancy-nav li {
    list-style: none;
    float: left;
}

#fancy-nav li a {
    position: relative;
    z-index: 200;
    color: #bbb;
    font-size: 0.9em;
    display: block;
    float: left;
    bottom: 10px;
    right: 30px;
    font-family: 'Fredoka One', cursive;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.6em 1em 0.3em;
}

#fancy-nav li a:hover {
    color: white;
}

#fancy-nav #magic-line-two {
    position: relative;
    bottom: 37px;
    left: 0;
    width: 100px;
    /* background: #900;  */
    background-color: #205786;
    z-index: 100;
    -moz-border-radius-topleft: : 5px;
    -moz-border-radius-topright: : 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-radius: 5px 5px 0 0;
}

.current_page_item_two a {
    color: white !important;
}

.ie6 #fancy-nav li,
.ie7 #fancy-nav li {
    display: inline;
}

@media only screen and (max-width: 800px) {
    #fancy-nav {
        width: 98%;
    }
}


/* ------------- */

.sub-menu {
    position: absolute;
    top: 20px;
    right: 35px;
    height: 46px;
    width: 46px;
}

.sub-menu-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1002;
    bottom: 3px;
}

.sub-menu-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1px;
}


/* ------------- */

.menu-bar {
    background-color: #fff;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    right: 0;
    transition: all 0.25s ease-in-out;
}

.menu-bar-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu-bar-3 {
    bottom: 0;
}

.menu-bar-4 {
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(90deg)
}

.sub-menu.open .menu-bar-1 {
    transform: translateY(10px) translateY(-50%) rotate(-45deg);
}

.sub-menu.open .menu-bar-2 {
    opacity: 0;
}

.sub-menu.open .menu-bar-3 {
    transform: translateY(-10px) translateY(50%) rotate(45deg);
}

.sub-menu.open .menu-bar-4 {
    opacity: 0;
}

.icon22 {
    position: relative;
    right: 7px;
    bottom: 15px;
}


/* ------------- */

.sub-menu-circle {
    background-color: #205786;
    width: 115%;
    height: 115%;
    position: absolute;
    border-radius: 50%;
    transform: scale(1);
    z-index: 1000;
    bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.sub-menu:hover .sub-menu-circle {
    transform: scale(1.5);
}

.sub-menu.open .sub-menu-circle {
    transform: scale(16);
}


/* ------------- */

.sub-menu-overlay {
    color: #333;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-menu-overlay.open {
    opacity: 1;
    visibility: visible;
}

.sub-menu-list {
    margin-top: 7em;
    margin-left: 7em;
    list-style: none;
    font-family: New Century Schoolbook, serif;
    left: 970px;
    position: relative;
}

.sub-menu-list li {
    margin: 1.5em;
}

.sub-menu-list li a {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-align: left;
    transition: all 0.1s ease;
    text-decoration: none;
}

.sub-menu-list li a:hover {
    border-bottom: 3px solid #fff;
}

body {
    background-image: url(https://image.freepik.com/free-vector/businessman-with-a-great-idea_1012-219.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.container {
    position: relative;
    top: 100px;
    right: 100px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #bbb5af;
}


/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
}

header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.5em;
    left: 260px;
    letter-spacing: 7px;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
}

#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
    right: 200px;
}

.spa {
    color: #fcca59;
}

input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #b3aca7;
    color: #e2dedb;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
}

#submit {
    width: 470px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 1.875em;
    color: #fcca59;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none;
}

#submit:hover {
    color: #e2dedb;
}